/* CSS Heart */
.heart{
    cursor: pointer;
    margin: 80px auto;
    width: 70px;
    height: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart linear infinite 0.8s;
}

@keyframes heart {
    0%{
        transform: rotate(-45deg) scale(1.7);
    }
    80%{
        transform: rotate(-45deg) scale(1);
    }
    100%{
        transform: rotate(-45deg) scale(0.7);
    }
}

.heart::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}


